/* レスポンシブ用(768px) */
@media screen and (max-width:768px) {

*{
  width: 100%;
}

.step{
  float: none;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}

.step:last-child{
  margin-bottom: 0;
  margin: 0 auto;
}

.image-box{
  width: 95%;
}

}
