/* リセットcss */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  width: 960px;
}

a{
  text-decoration: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.steps{
  margin: 50px 0;
}

.step{
  margin-right: 30px;
  float: left;
  width: 300px;
  border: 1px solid rgb(172,171,171,0.5);
}

.step:last-child{
  margin-right: 0;
}

.step h1{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px
}

.step p{
  word-wrap: break-word;
  width: 300px;
  padding: 10px 10px;
}

.step-number{
  color: white;
  background-color: orange;
  width: 50px;
  height: 30px;
  font-weight: 600;
  padding-top: 2px;
  font-size: 16px;
  position: relative;
  z-index: 5;
}

.image-box{
  width: 280px;
  position: relative;
  top: -20px;
  left: 10px;
}
